@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #F0F0F1;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  word-break: break-word;
button{
    background-color: transparent;
    
}
button:hover{
    filter: brightness(5);
}
button:active{
    transform: scale(0.9);
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
 
}
header div {

    animation: movie 10s infinite;

}

.menuli{
    animation: movie 10s infinite;
}
.headerMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    
}
.content{   
  width: 500px;
  background-color: #2e8b57;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  

}
.error{
  border-color:red;
  border-style: groove;
  border-width:2px;
  animation: errorInput 1s normal;
}
.inputNew{
    width: 80%;
    height: 50px;
    padding: 10px;
    color:#010101;
    border-radius:10px;
    font-size: 1rem;
}
.list{
   padding: 10px;
  

 
}
.listLi{
  border-radius: 10px;
  background: rgba(0,0,0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  animation: fadein 1s;
  margin-bottom: 15px;
}


.buttons{
  width: 100px;
}
#windowEdit{
  z-index: 101;
  width: 500px;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;

  border-radius:10px;
  top:20%;
  background-color: #2e8b57;
  padding: 10px;
  display:none;
} 
#windowEdit.open{
  display: flex !important;
}
#windowEdit h2{
 display: flex;
}
#windowEdit form{
  display: flex;
  width: 100%;
  
}
.inputEdit{
  width: 80%;
  height: 50px;
  margin: 15px;
  border-radius: 5px;
  padding:5px;
  background: rgba(0,0,0, 0.3);
  color: #fff;
  
  
}
.linha{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  
}
.linha label{
  display: flex;
  align-items: center;
  text-align: center;
}


#windowFundo{
  position: fixed;
  background-color: #000;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0.9;
  display: none;
}

#windowFundo.open{
 display:block !important;
}


@keyframes errorInput {
    0% {
        
        transform: rotate(-1deg);
        
      
      }
    
      5% {
        transform: rotate(1deg);
      }
    
      15% {
       
        transform: rotate(-1deg);
      }
    
      20% {
        transform: rotate(1deg);
      }
    
      25% {
        transform: rotate(-1deg);
      }
    
      50% {
       
        
        transform: rotate(1deg);
      }
    
      70% {
      
        transform: rotate(-1deg);
      }
      75% {
        transform: rotate(1deg);
      }
    
      100% {
        
        
        transform: rotate(-1deg);
      }
}
@keyframes fadein {
    0% {
      transform: translateX(150%);
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    
    100% {
      transform: translatex(0%);  
      opacity: 1;
    }
  }

 @keyframes movie {
   
    0% {
        
        transform: rotate(-2deg);
        
      
      }
    
      5% {
        transform: rotate(2deg);
      }
    
      15% {
       
        transform: rotate(-2deg);
      }
    
      20% {
        transform: rotate(2deg);
      }
    
      25% {
        transform: rotate(-2deg);
      }
    
      50% {
       
        
        transform: rotate(2deg);
      }
    
      70% {
      
        transform: rotate(-2deg);
      }
      75% {
        transform: rotate(2deg);
      }
    
      100% {
        
        
        transform: rotate(-2deg);
      }
      
}
@media (max-width:500px) {
    .content{
        width: 80%;
    }
    #windowEdit{
      width: 80%;
    }
    
  }
}